@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #1c0c24, #1e0d28, #200e2b, #220f2f, #240f33, #250f35, #250f36, #260f38, #250f38, #251038, #241038, #241038);
}



.active {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.container{
    background-image: linear-gradient(to left top, #3e1a7a, #421b73, #441c6c, #451d65, #461f5f, #491f63, #4b1e68, #4e1e6c, #531c7d, #56198e, #5717a1, #5515b4);
}

.input::placeholder {
    color: rgb(201, 181, 181);
}

.AuthenticationPageBg{
    background-image: linear-gradient(to right top, #3e1a7a, #49207d, #53267f, #5d2c82, #663385, #69338a, #6b338e, #6e3393, #6a2c9b, #6525a3, #5e1dab, #5515b4);
}

.mainBg{
  background-image: linear-gradient(to right top, #1c0c24, #1e0d28, #200e2b, #220f2f, #240f33, #250f35, #250f36, #260f38, #250f38, #251038, #241038, #241038);
}

.borderBg{
    border-color: #4d4a50;
}

/* Left SideBar Resizing */
@media (max-width: 1281px) {
  .sidebarText{
     display: none;
  }
}
@media (min-width: 700px) {
  .sideBarResize{
    width: 100px;
  }
}

@media (min-width: 1281px) {
  .sideBarResize{
    width: 25%;
  }
  .sidebarLogo{
    display: none;
  }
}
  
.banner-image {
  width: 100%; /* Fill the container's width */
  height: 200px; /* Set a fixed height for the banner image */
  object-fit: cover; /* Maintain the aspect ratio and crop if necessary */
}


/* Rigt SideBar Resizing */
@media (min-width: 1030px) {
  .profileAccounts {
    display: flex;
    width: 30%;
  }

}

/* BottomBar Resizing */
@media (max-width: 500px) {
  .sideBarResize {
    display: none;
    width: 0;
  }
  .ProfilePosts{
    padding-bottom: 70px;
  }

  .BottomBar {
    display: flex;
  }
}
  
@media (min-width: 501px) {
  .BottomBar {
    display: none;
  }
}

::-webkit-scrollbar{
  width: 0px;
}



